
    

body{
    color: #40514E;
    margin: 0px;
    text-align: center;
    font-family: "helvetica neue", serif;

    
}

.topcontainer{
    background-color:#91f7f7;
    padding-top: 6.25%;
    position: relative;
} 
.middle-container{
    margin: 50px 0 100px 0;

}
.bottom-container{
    background-color: #66bfbf;
    padding: 50px 0 20px;
}
.topcloud{
    position: absolute;
    right: 250px ;
    top: 40px;

} 

a{
  color: #11999E;
  padding: 10px;
  text-decoration: none;
}
a:hover{
    color: #EAF6F6;
}

.bottomcloud{
  position: absolute;
  left: 250px;
  bottom: 300px;

}

h1{
    margin: 0px auto 0 auto;
    font-size: 5rem;
    font-family: charm;
    color: blue;
    line-height: 2


}
h2{
    font-size: 2.5rem;
    margin: 0;
    color: blue;
    font-weight: normal;
    line-height: 2;
}
h3{
    color: #11999E;
}
.btn{
    color: #11999E;
}
.mountains{
    bottom: 0;
}



.web{
    text-decoration: underline;
}
.picprofile{
    height:12.50%;
    width: 12.50%;
    padding: 0 0 10px 0;
}
.sklills-coding{
   width: 25%;
   float: left;
   margin-right: 30px;
}
.skill-row{
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
}

.Cooking{
    width: 25%;
    float: right;
}
.hello{
    margin-top: 0;
}
.headin{
    width: 30%;
    margin: 0 auto ;
    padding: 0 auto 30px auto;
}
.profile{
    margin-bottom: 50px;
}
.p{
    line-height: 2;
}
hr{
    border: dotted #EAF6F6 6px;
    border-bottom: 0;
    width: 4%;
    margin: 50px auto;
}
.getintouch{
    width: 30%;
    margin: 0 auto 60px auto;
}
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999E);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999E);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999E);
    background-image: -o-linear-gradient(top, #11cdd4, #11999E);
    background-image: linear-gradient(to bottom, #11cdd4, #11999E);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat',sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
  .copyright{
    color: #EAF6F6;
    font-size: 80%;
    padding: 20px 0;
  }
  @media(max-width:1000px) {
    .topcloud{
        right: 5% ;
        top: 6%;
    } 
    .bottomcloud{
    
        left: 7%;
        bottom: 40%
    }
    .quote{
        padding: 16%;
    }
    .copyright{
        color: #EAF6F6;
        font-size: 50%;
    }
  }
  
